@using u04598637_HW03.Models
@model List<FileModel>
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Images of any file type</h2>
    <h4>View uploaded images as well as download them or delete them</h4>
</div>

<br>
<br>
@foreach (FileModel file in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-4">

                @foreach(var img in ViewBag.images)
                {
                        <a data-fancybox="gallery" href="~/Media/Images/@Path.GetFileName(img)" >
                            <img src="~/Media/Images/@Path.GetFileName(img)" width="500" height="400" />
                        </a>
                }
                        <br>
                        <div>
                            @file.FileName
                        </div>

                        <button type="button" class="btn btn-success">
                            @Html.ActionLink("Download", "DownloadFile",
                         new { filename = file.FileName })
                        </button>

                        <button type="button" class="btn btn-danger">
                            @Html.ActionLink("Delete", "DeleteFile",
                         new { filename = file.FileName },
                         new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                        </button>

                    </div>
                </div>
    </div>

    <script>
        fancybox.bind('[data-fancybox="gallery"]', {
            dragToClose: false,

            Toolbar: false,
            closeButton: "top",

            Image: {
                zoom: false,
            },

            on: {
                initCarousel: (fancybox) => {
                    const slide = fancybox.Carousel.slides[fancybox.Carousel.page];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.$thumb.src}")`
                    );
                },
                "Carousel.change": (fancybox, carousel, to, from) => {
                    const slide = carousel.slides[to];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.$thumb.src}")`
                    );
                },
            },
        });
    </script>

}
