@using u04598637_HW03.Models
@model List<FileModel>
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Video Files</h2>
    <h4>View uploaded Videos as well as download them or delete them</h4>
</div>
<br>
<br>
@foreach (FileModel file in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-4">

                @foreach (var vid in ViewBag.videos)
                {
                    <img src="~/Media/Images/@Path.GetFileName(vid)" width="600" height="400" />
                }
                <br>
                <div>
                    @file.FileName
                </div>

                <button type="button" class="btn btn-success">
                    @Html.ActionLink("Download", "DownloadFile",
                 new { filename = file.FileName })
                </button>

                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("Delete", "DeleteFile",
                 new { filename = file.FileName },
                 new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                </button>

            </div>
        </div>
    </div>

}