
@{
    ViewBag.Title = "About me";
}

<div class="Homeheading">
    <h2>Joel Oosterwyk</h2>
    <h4>Heres a little about me </h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Bio</h2>
            <p> My name is Joel Oosterwyk a BCOM Informatics student at the University of Pretoria.
            I am orginally from Cape Town but moved to Pretoria when I was 2 years old. I am now 21 Years old and still go back
            to visit Cape Town every year. I attended the Deutsche Internationale Schule Pretoria and prior to that Meyerspark primary.
            I am very excited to finish my degree. </p>
        </div>
        <div class="col-sm-6">
            <h2>Myself</h2>
            <img src="@Url.Content("~/Content/pictures/me.jpg")" alt="img of me" style="width:500px;height:500px;"/>

        </div>
    </div>
</div>

