@{
    ViewBag.Title = "Home Page";
}

<div class="Homeheading">
    <h1>The Media Center</h1>
    <h4>For all your media uploading and downloading needs</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Description</h2>
            <p>
                 This system is one which allows you to upload files of different file type. You can upload documents, images , videos etc.
                Futhermore you can download the files you would like from here as well.
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Option Selection</h2>
            <form method="post">
                <input type="radio" id="doc" name="radioresult" value="Document" />
                <label for="doc">Document</label><br>
                <input type="radio" id="image" name="radioresult" value="Image" />
                <label for="image">Image</label><br>
                <input type="radio" id="vid" name="radioresult" value="Video" />
                <label for="vid">Video</label><br>

                <br>
                <br>

                <input type="button" value="Browse..." onclick="" id="browsebtn">
                <label for="browsebtn">No file selected</label>

                <br>
                <br>
                <input type="submit" id="submitfile">
            </form>

        </div>
    </div>
</div>
